*{
    margin:0;
    padding:0;
    font-family: 'Manrope', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bg3.jpg);
    background-position: centre;
    background-size: cover;
    position: relative;
}
nav{
    display:flex;
    padding:2% 2%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width:150px;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}


.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}


.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:#f44336;
    display:block;
    margin:auto;
    transition:0.3s;
}


.nav-links ul li:hover::after{
    width:100%;
}


.text-box{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin:10px 0 40px;
    font-size: 17px;
}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}


.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }



.btn a{
    color: #fff;
    text-decoration: none;
}

.problems{
    border: none;
    background-color:black; /* Add a text color */
    height: 45px;
    width:15%;
    font-size: 12px;
    color: #fff;
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.problems a{
    text-decoration: none;
    color: #fff;
}   

.problems:hover {background: red;
transition: 0.5s;
color: #fff;}


nav .fa{
    display:none; 
}


@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background:#f44336;
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index:2;
    }

    nav .fa{
        display:block;
        color:#fff;
        margin:10px;
        font-size: 22px;
        cursor:pointer;

    }
}

.issues{
    text-align: center;
}

.issues button{
    margin:5px;
    padding:3px;
}


.team{
    width:100%;
    margin:auto;
    color: #fff;
    text-align: center;
    padding-top: 100px;
    background-image: url(images/black1.jpg);
    background-position: centre;
    background-size: cover;
    position: relative;
    
}

.team a img{
    width:1.5%;
    padding: 2px ;
}


.row{
    display: inline-block;
}

.team-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: centre;
    
}


.team-col img{
    width:15%;
    border-radius: 10px;
}

#teamphoto img{
    width:30%;
    flex-basis: 31%;
    border-radius: 7px;
    margin-bottom: 2%;
    text-align: centre;
}




.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;      
}

.footer{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;   
}

.icons .fa{
    color:black;
    margin:0 13px;
    cursor:pointer;
    padding:18px 0;
}

.fa-heart-o{
    color: #f44336;

}

.issues1{
    height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/dvbg1.jpg);
    background-position: centre;
    background-size: cover;
    text-align: center;
    color:#fff;
}

.issues2{
    height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/cyberattack.jpg);
    background-position: centre;
    background-size: cover;
    text-align: center;
    color:#fff;
}

.issues3{
    height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/streetharassment1.jpeg);
    background-position: centre;
    background-size: cover;
    text-align: center;
    color:#fff;
}

.issues4{
    height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/sexualassault.jpeg);
    background-position: centre;
    background-size: cover;
    text-align: center;
    color:#fff;
}

.issues5{
    height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/eveteasing1.jpg);
    background-position: centre;
    background-size: cover;
    text-align: center;
    color:#fff;
}

.issues6{
    height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/humantrafficing2.jpg);
    background-position: centre;
    background-size: cover;
    text-align: center;
    color:#fff;
}

.issues{
    width: 80%;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 50px;
}



.issues-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.issues-col img{
    width: 60%;
}

#icons{
    width:5%;
}

